<form action="/action_page" method="post">
  <div class="imgcontainer">
    <img
      src="https://www.w3schools.com/howto/img_avatar2.png"
      alt="Avatar"
      class="avatar"
    />
  </div>

  <div class="container">
    <div class="container-inputs">
      <!-- <label for="uname"><b>Username</b></label> -->
      <input type="text" placeholder="Enter Username" name="uname" required />

      <!-- <label for="psw"><b>Password</b></label> -->
      <input type="password" placeholder="Enter Password" name="psw" required />
      <div class="container-button">
        <button type="submit">LOGIN</button>
      </div>
      
    </div>
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>

  <div class="container">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
